#cool {
    
    background-color: lightcyan;
    border-left: double 15px;
}
#secondary {

    padding-left: 380px;
    padding-bottom: 20px;
    border: #ff272f;
}

#cool2 {

    padding-left: 13px;
}

#cool3 {

    padding-left: 1200px;
}

#cool4 {

    padding-left: 200px;
}

#cool5 {

    padding-left: 1175px;
}

#cool6 {

    padding-left: 1655px;
}

#cool7 {

    padding-top: 5px;
    padding-left: 270px;
}